@model IEnumerable<ForumDyskusyjne.Models.PrivateMessage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            Sender
        </th>
        <th>
            Receiver
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(new HtmlString(item.Text.ToString()))
        </td>
        <td>
            @foreach(KeyValuePair<string,string> kvp in ViewBag.pairs)
            {
                if (kvp.Key == item.SenderId)
                {
                    <div>@kvp.Value</div>
                }
            }
        </td>
        <td>
            @foreach (KeyValuePair<string, string> kvp in ViewBag.pairs)
            {
                if (kvp.Key == item.ReceiverId)
                {
                     <div>@kvp.Value</div>
                }
            }
        </td>

        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.PrivateMessageId })
        </td>
    </tr>
}

</table>
