@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <br />
    <br />
    <br />
    <div>
        @Html.ActionLink("Accounts", "../Accounts/Index")
    </div>
    <br />
    <br />
    <br />
    <div>
        @Html.ActionLink("Annoucements", "../Annoucements/Index")
    </div>
    <br />
    <br />
    <br />
    <div>
        @Html.ActionLink("BannedWords", "../BannedWords/Index")
    </div>
    <br />
    <br />
    <br />
    <div>
        @Html.ActionLink("Fora", "../Fora/Index")
    </div>
    <br />
    <br />
    <br />
    <div>
        @Html.ActionLink("ForumCategories", "../ForumCategories/Index")
    </div>
    <br />
    <br />
    <br />
    <div>
        @Html.ActionLink("Messages", "../Messages/Index")
    </div>
    <br />
    <br />
    <br />
    <div>
        @Html.ActionLink("PrivateMessages", "../PrivateMessages/Index")
    </div>
    <br />
    <br />
    <br />
    <div>
        @Html.ActionLink("Threads", "../Threads/Index")
    </div>
</div>