@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Forum Romanum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Forum Romanum", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        <li>@Html.ActionLink("Forums", "../Forums/Index", new { area = "Admin" })</li>
                        <li>@Html.ActionLink("AdminPanel", "../AdminPanel/Index", new { area = "Admin" })</li>
                        <li>@Html.ActionLink("PM", "../PrivateMessages/Index", new { area = "Admin" })</li>
                        <li>@Html.ActionLink("Annoucements", "../Annoucements/Index", new { area = "Admin" })</li>

                        //area admin
                    }
                    else if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Forum Romanum", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        <li>@Html.ActionLink("Forums", "../Forums/Index", new { area = "User" }))</li>
                        <li>@Html.ActionLink("PM", "../PrivateMessages/Index", new { area = "User" })</li>
                        //////area user
                    }
                    else
                    {
                        @Html.ActionLink("Forum Romanum", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        <li>@Html.ActionLink("Forums", "../Forums/Index")</li>
                        //basic
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Forum Romanum</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
