@model IEnumerable<ForumDyskusyjne.Models.Thread>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Threads on Forum: @ViewBag.Threads
Messages on Forum: @ViewBag.Messages
<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.ForumId })
</p>
<table class="table">
    <tr>
        <th>
            ForumName
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Forum.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                <!----  Html.ActionLink("Edit", "Edit", new { id = item.ThreadId }) |

                  Html.ActionLink("Delete", "Delete", new { id = item.ThreadId }) |-->

                @Html.ActionLink("Go To Thread", "Details", new { id = item.ThreadId, Page = 0 }, null)

            </td>
        </tr>
    }

</table>
